<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Create Car</title>
</head>
<body>
<h3>Add Car</h3>
<p>
    <a th:href="@{/cars}">
        Back to car list
    </a>
</p>
<div id="form">
    <form th:action="@{/cars/create}" th:object="${car}"
          method="POST" enctype="multipart/form-data" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label for="code">Code</label>
            <input type="text" id="code" th:field="*{code}"/>
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}"/>
        </div>
        <div>
            <label for="producer">Producer</label>
            <input type="text" id="producer" th:field="*{producer}"/>
        </div>
        <div>
            <label for="price">Price</label>
            <input type="number" id="price" th:field="*{price}"/>
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id="description" th:field="*{description}"/>
        </div>
        <div>
            <label for="img">Image</label>
            <input type="file" id="img" th:field="*{img}"/>
        </div>
        <div>
            <label for="manufacturer">Manufacturer</label>
            <select id="manufacturer" th:field="*{manufacturer}">
                <option th:each="m : ${manufacturers}" th:value="${m.id}" th:text="${m.name}"></option>
            </select>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>